@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
}

html{

	font-size: 62.5%; /* 10px */
}

ul li{
	list-style: none;
}

a{
	font-size: 1.6rem;
	text-decoration: none;
}

p, li{
	font-size: 1.6rem;
	margin-bottom: 0.5em;
	letter-spacing: 0.10em;
}

h1, h2, h3{
	margin-bottom: 0.5em;
	letter-spacing: 0.15em;
	font-weight: 500;
}

.clearfix{
    clear: both;
}

/* .header{
	height: 80vh;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)) , url('../img/header-image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} */

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #5f9eaf;
    height: 6rem;
    box-shadow: 2px 2px 5px 0px white;
}

.header .navbar .logo{
	color:white;
	float: left;
	font-size: 3.5rem;
	margin-left: 5rem;
    width: 100%;
}

.header-logo{
    height: 5rem;
    margin: 0.5rem 0.5rem 0.5rem 6rem
}

.header .navbar .nav-items a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.header .navbar a{
	color: white;
	text-decoration: none;
}

.header .navbar .nav-items{
	text-align: center;
    margin-right: 10rem;
    padding-top: 1.5rem;
    width: 100%;
}

.main-heading{
    text-transform: uppercase;
}

.navbar::after{
	content: '';
	display: block;
	clear: both;
}

.navbar .nav-items .nav-item{
	display: inline-block;
	padding: 0rem 2rem;
}

/* Practice  */

.wrapper{
	margin-top: 30px;
}

.container{
	margin: 50px 10px;
	text-align: center;
}

.container-offer{
	text-align: center;
}

.text-red{
    color: red;
}
.product-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
}

.product-wrapper .column{
	text-align: center;
    background: yellow;
    font-size: 2rem;
    position: relative;
}

.product-wrapper .column img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-wrapper .column h3{
	position: absolute;
    /* margin-left: 12rem; */
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
}

.container h2{
	font-size: 3rem;
    font-weight: 600;
    /*display: inline;*/
}

.container-offer h2{
	font-size: 3rem;
    font-weight: 600;
    display: inline;
}


.category-wrapper{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* grid-gap: 1rem; */
}

.category-wrapper .column{
	/*background: yellow;*/
	position: relative;
    width: 16.5%;
}

.category-wrapper .column img{
	width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
	cursor: pointer;
}

.category-wrapper .column h3{
	position: absolute;
    /* margin-left: 12rem; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.category-wrapper .column .cat-title{
	display: none;
}

.wish-heart{
	color: #fff;
    position: absolute;
    top: 5%;
    left: 90%;
    font-size: 3rem;
    cursor: pointer;
}

.font-icon{
    padding: 0rem 2rem;
    cursor: pointer;
}

.user-section{
    float: right;
    /* position: absolute; */
    color: white;
    font-size: 2rem;
    margin-right: 5rem;
    padding: 1rem 0;
    /* margin-top: -15px; */
    width: 50%;
    text-align: right;

}

.user-section a span{
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    line-height: 20px;
    background: white;
    font-weight: 700;
    color: black;
    position: absolute;
    right: 5rem;
    text-align: center;
    font-size: 1rem;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #5f9eaf;
    color: white;
  }
  

.view-eye{
	color: #fff;
    position: absolute;
    top: 20%;
    left: 90%;
    font-size: 3rem;
    cursor: pointer;
}

.read-more-button{
	padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    background: #5f9eaf;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.full-width-botton{
    width: 100%;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    background: #5f9eaf;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.add-to-cart{
	display: none;
    position: absolute;
    display: inline;
    bottom: 15%;
    right: 0%;
    width: 100%;
    padding: 10px 0px;
}

.buy-now{
	border: none;
    padding: 10px 30px;
	color: #fff;
    border-radius: 2px;
    margin-right: 10px;
	cursor: pointer;
	background-color: #5f9eaf;
}

.add-cart{
	border: none;
    padding: 10px 30px;
	color: #fff;
    border-radius: 2px;
    margin-left: 10px;
	cursor: pointer;
	background-color: #5f9eaf;
}

.button-hover:hover{
	background: #fff;
    color: #5f9eaf;
    border: 1px solid #5f9eaf;
}

.add-to-cart {
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.product-image:hover .add-to-cart {
    opacity: 0;
}

.product-image .add-to-cart:hover {
    opacity: 1;
}

#owl-demo .item{
    text-align: center;
    height: 80vh;
}

#owl-demo .item img{
    width: 100%;
    object-fit: cover;
}

.featured-image{
    width: 100%;
    height: 50rem;
}

.featured-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0%;
}

.banner .item{
    position: relative;
}

.banner .banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    color: white;
    text-shadow: 0px 0px 8px #000;
}

.banner-text h1{
    font-size: 4rem;
}

.banner-text p{
    font-size: 3rem;
}

button.owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
    background: #ffffff !important;
    width: 30px;
    height: 30px;
    box-shadow: 0px 2px 12px #1c1c1c57;
    font-size: 16px !important;
}

button.owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%,-50%);
    background: #ffffff !important;
    width: 30px;
    height: 30px;
    box-shadow: 0px 2px 12px #1c1c1c57;
}

/* Test */
.offer-animate{
    position: absolute;
    margin: 20rem 0 0 2rem;
}

.offer-animate h1{
    font-size: 3rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #1D3557;
  }
  
  .roller #rolltext {
    font-size: 5rem;
    color: #ffd243;
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
    98.5%{
        top: -16.25rem;
    }
  }
  
  @media screen and (max-width: 600px){
    h1{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE; 
    font-size: 2.125rem;
  }
    
    .roller{
        height: 2.6rem; 
        line-height: 2.125rem;  
    }
    
    #spare-time {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
    
    .roller #rolltext {  
        animation: slide-mob 5s infinite;  
  }
    
    @keyframes slide-mob {
        0%{
        top:0;
        }
        25%{
        top: -2.125rem;    
        }
        50%{
        top: -4.25rem;
        }
        72.5%{
        top: -6.375rem;
        }
  }
  }
/* Test */

/* About section */
.wallet-container{
    border: 1px solid #a7bba7;
    width: 80%;
    height: 15rem;
    margin: 5rem auto;
}

.wallet-body img{
    height: 5rem;
    border-radius: 50%;
    margin: 2rem;
}

.wallet-heading{
    border-bottom: 1px solid #d2ded2;
    background: beige;
    padding: 1rem;
}

.wallet-heading p{
    padding: 4rem;
    font-weight: 500;
    display: inline;
}

.wallet-money{
    display: inline-block;
    position: absolute;
    margin-top: 3rem;
    margin-left: 1rem;
    line-height: 1.5rem;
}

/* About section */

/* Footer section */

.footer{
    background-color: #1f4d5a;
    height: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.footer-logo img{
    width: 20rem;
}

.useful-links a{
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.useful-links h3{
    font-size: 2rem;
    color: #5f9eaf;
}

.news-letter{
    position: relative;
}

.news-letter h3{
    font-size: 2rem;
    color: #5f9eaf;
}

.footer-div{
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex: 25%;
    text-align: center;
}

.news-letter-form input[type="email"]{
    padding: 1rem 4rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    border: 1px solid white;
    outline: none;
}

.subscribe {
    position: absolute;
    transform: translate(-39px);
    padding: 1rem 1rem;
    border-radius: 0px 5px 5px 0px;
    margin-bottom: 2rem;
    background-color: #5f9eaf;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #5f9eaf;
}

.copyright{
    height: 5rem;
    color: black;
    text-align: center;
    padding: 1rem;
}

.copyright p{
    font-size: 1.5rem;
    font-weight: 500;
}

.social-icons a{
    color: white;
    font-size: 3rem;
    margin: 0 2rem;
}

.inner-banner{
    position: relative;
}

.inner-banner .banner-text{
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.inner-banner img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.product-filter{
    width: 20%;
    float: left;
    margin-top: 16px;
    text-align: initial;
    border: 1px darkgray;
    margin-right: 1rem;
}

.filter-heading{
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    background: #5f9eaf;
    padding: 5px 10px;
    width: 100%;
    color: white;
}

.filter-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .filter-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1rem;
  }
  
  /* .filter-table tr{
    font-size: 1.5rem;
  } */

  /* .filter-table tr label{
    cursor: pointer;
    font-size: 1.7rem;
  } */

  .font-plus{
    position: relative;
    bottom: 20px;
    float: right;
    font-size: 15px;
    cursor: pointer;
  }

  .sub-cat-table{
    font-family: arial, sans-serif;
    width: 100%;
  }

  /* .checkmark{
    position: absolute;
    background: #eee;
    width: 20px;
    height: 20px;
    left: 15px;
  } */

  /* The container */
.mycontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    font-size: 17px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .mycontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #b2d9e3;
  }
  
  /* On mouse-over, add a grey background color */
  .mycontainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .mycontainer input:checked ~ .checkmark {
    background-color: #5f9eaf;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .mycontainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .mycontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .cart-table{
    width: 100%;
    border-collapse: collapse;
  }

  .cart-table th{
    background: #5f9eaf;
    color: white;
    text-align: center;
    font-size: 12px;
  }

  .cart-table tr{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid lightgray;
  }

  .cart-img{
    width: 80px;
    height: 80px;
    margin: 10px 0px;
    object-fit: cover;
  }

  .cart-summary{
    width: 100%;
    font-size: 12px;
  }

  .cart-summary td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1rem;
  }

  .cart-summary-box{
    margin-top: 2rem;
    float: right;
    width: 25%;
  }

 .cart-summary-box p{
    font-size: 20px;
    font-weight: 500;
 }

 .coupon-box{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
 }

 .coupon-box input{
    padding: 6px 20px;
    border-radius: 2px;
    border: 1px solid gray;
 }

 .coupon-button{
    padding: 6px 25px;
    cursor: pointer;
    background: #5f9eaf;
    color: white;
    border: 1px solid gray;
    border-radius: 2px;
 }

.coupon-box p{
    display: flex;
    margin: 0;
    font-size: 12px;
}
