@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
}

html{

	font-size: 62.5%; /* 10px */
}

ul li{
	list-style: none;
}

a{
	font-size: 1.6rem;
	text-decoration: none;
}

p, li{
	font-size: 1.6rem;
	margin-bottom: 0.5em;
	letter-spacing: 0.10em;
}

h1, h2, h3{
	margin-bottom: 0.5em;
	letter-spacing: 0.15em;
	font-weight: 500;
}

/* .header{
	height: 80vh;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)) , url('../img/header-image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} */

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #5f9eaf;
    height: 6rem;
    box-shadow: 2px 2px 5px 0px white;
}

.header .navbar .logo{
	color:white;
	float: left;
	font-size: 3.5rem;
	margin-left: 5rem;
    width: 100%;
}

.header .navbar .nav-items a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.header .navbar a{
	color: white;
	text-decoration: none;
}

.header .navbar .nav-items{
	text-align: center;
    margin-right: 10rem;
    padding-top: 1rem;
    width: 100%;
}

.main-heading{
    text-transform: uppercase;
}

.navbar::after{
	content: '';
	display: block;
	clear: both;
}

.navbar .nav-items .nav-item{
	display: inline-block;
	padding: 0rem 2rem;
}

/* Practice  */

.wrapper{
	margin-top: 30px;
}

.container{
	margin: 50px 10px;
	text-align: center;
}

.container-offer{
	text-align: center;
}

.product-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
}

.product-wrapper .column{
	text-align: center;
    background: yellow;
    font-size: 2rem;
    position: relative;
}

.product-wrapper .column img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-wrapper .column h3{
	position: absolute;
    /* margin-left: 12rem; */
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
}

.container h2{
	font-size: 3rem;
    font-weight: 600;
    display: inline;
}

.container-offer h2{
	font-size: 3rem;
    font-weight: 600;
    display: inline;
}


.category-wrapper{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* grid-gap: 1rem; */
}

.category-wrapper .column{
	/*background: yellow;*/
	position: relative;
    width: 16.5%;
}

.category-wrapper .column img{
	width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
	cursor: pointer;
}

.category-wrapper .column h3{
	position: absolute;
    /* margin-left: 12rem; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.category-wrapper .column .cat-title{
	display: none;
}

.wish-heart{
	color: #fff;
    position: absolute;
    top: 5%;
    left: 90%;
    font-size: 3rem;
    cursor: pointer;
}

.font-icon{
    padding: 0rem 2rem;
    cursor: pointer;
}

.user-section{
    float: right;
    /* position: absolute; */
    color: white;
    font-size: 2rem;
    margin-right: 5rem;
    padding: 1rem 0;
    /* margin-top: -15px; */
    width: 100%;
    text-align: right;

}

.user-section a span{
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    line-height: 20px;
    background: white;
    font-weight: 700;
    color: black;
    position: absolute;
    right: 5rem;
    text-align: center;
    font-size: 1rem;
}

.view-eye{
	color: #fff;
    position: absolute;
    top: 20%;
    left: 90%;
    font-size: 3rem;
    cursor: pointer;
}

.read-more-button{
	padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    background: #5f9eaf;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.add-to-cart{
	display: none;
    position: absolute;
    display: inline;
    bottom: 15%;
    right: 0%;
    width: 100%;
    padding: 10px 0px;
}

.buy-now{
	border: none;
    padding: 10px 30px;
	color: #fff;
    border-radius: 2px;
    margin-right: 10px;
	cursor: pointer;
	background-color: #5f9eaf;
}

.add-cart{
	border: none;
    padding: 10px 30px;
	color: #fff;
    border-radius: 2px;
    margin-left: 10px;
	cursor: pointer;
	background-color: #5f9eaf;
}

.button-hover:hover{
	background: #fff;
    color: #5f9eaf;
    border: 1px solid #5f9eaf;
}

.add-to-cart {
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.product-image:hover .add-to-cart {
    opacity: 0;
}

.product-image .add-to-cart:hover {
    opacity: 1;
}

#owl-demo .item{
    text-align: center;
    height: 80vh;
}

#owl-demo .item img{
    width: 100%;
    object-fit: cover;
}

.featured-image{
    width: 100%;
    height: 50rem;
}

.featured-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0%;
}

/* Test */
.offer-animate{
    position: absolute;
    margin: 20rem 0 0 2rem;
}

.offer-animate h1{
    font-size: 3rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #1D3557;
  }
  
  .roller #rolltext {
    font-size: 5rem;
    color: #ffd243;
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
  
  @media screen and (max-width: 600px){
    h1{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE; 
    font-size: 2.125rem;
  }
    
    .roller{
        height: 2.6rem; 
        line-height: 2.125rem;  
    }
    
    #spare-time {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
    
    .roller #rolltext {  
        animation: slide-mob 5s infinite;  
  }
    
    @keyframes slide-mob {
        0%{
        top:0;
        }
        25%{
        top: -2.125rem;    
        }
        50%{
        top: -4.25rem;
        }
        72.5%{
        top: -6.375rem;
        }
  }
  }
/* Test */

/* About section */
.wallet-container{
    border: 1px solid #a7bba7;
    width: 80%;
    height: 15rem;
    margin: 5rem auto;
}

.wallet-body img{
    height: 5rem;
    border-radius: 50%;
    margin: 2rem;
}

.wallet-heading{
    border-bottom: 1px solid #d2ded2;
    background: beige;
    padding: 1rem;
}

.wallet-heading p{
    padding: 4rem;
    font-weight: 500;
    display: inline;
}

.wallet-money{
    display: inline-block;
    position: absolute;
    margin-top: 3rem;
    margin-left: 1rem;
    line-height: 1.5rem;
}

/* About section */

/* Footer section */

.footer{
    background-color: #1f4d5a;
    height: auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.footer-logo img{
    width: 20rem;
}

.useful-links a{
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.useful-links h3{
    font-size: 2rem;
    color: #5f9eaf;
}

.news-letter h3{
    font-size: 2rem;
    color: #5f9eaf;
}

.footer-div{
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex: 25%;
    text-align: center;
}

.news-letter-form input[type="email"]{
    padding: 1rem 4rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.news-letter-form input[type="button"] {
    padding: 1rem 4rem;
    border-radius: 2px;
    margin-bottom: 2rem;
    background-color: #5f9eaf;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

.copyright{
    height: 5rem;
    color: black;
    text-align: center;
    padding: 1rem;
}

.copyright p{
    font-size: 1.5rem;
    font-weight: 500;
}